*{
    box-sizing: border-box;
}
main{
    display: flex;
}
.sheet{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    position: relative;

}
.item{
    width: 50px;
    height: 50px;
    background-color: black;


}
.white{
    background-color: white;
}
.red {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;

}
.red::before {
    content:'' ;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    margin:10px;

}